# 안녕하세요^^ 
## AIVLE 1차 미니프로젝트 '서울시 생활정보 기반 대중교통 수요 분석 ' 과정에 오신 여러분을 환영합니다.
* 본 과정에서는 실제 사례와 데이터를 기반으로 문제를 해결하는 전체 과정을 자기 주도형 실습으로 진행해볼 예정입니다.
* 앞선 교육과정을 정리하는 마음과 지금까지 배운 내용을 바탕으로 문제 해결을 해볼게요!
* 미니 프로젝트를 통한 문제 해결 과정 'A에서 Z까지', 지금부터 시작합니다!

---

# 데이터 분석부터 먼저 시작해보겠습니다.
## "구별 업종 등록 데이터" 를 확인해 보도록 하겠습니다

In [ ]:
# 필요 라이브러리부터 설치합니다.
# %pip install pandas seaborn

## 기본전제
* 처음에 제공되는 기본/추가 데이터는 'raw_data' 폴더에 있습니다.

[기본 데이터]
* 1.4 business_type_202401.csv

[데이터 소개]
* 서울 시 구별 등록 업종 상위 10개 데이터(제공 가능한 최신 버전)
    * 택시 운송업 (개인택시 등록자 주거지)
    * 한식일반음식점업
    * 용달 화물자동차 운송업(개인용달 등록자 주거지)
    * 부동산 중개 및 대리업
    * 두발미용업
    * 커피전문점
    * 남녀용 겉옷 및 셔츠 도매업
    * 기타주점업
    * 일반 교과 학원
    * 한식 육류요리 전문점

[변수 소개]
* 다수 업종 상위 1~10

---

# 1.데이터 불러오기
## 모든 미니 프로젝트의 시작은 '데이터 불러오기' 부터라고 할 수 있습니다.
+ KeyPoint : 불러오고자 하는 데이터에 따라 자유롭게 변수로 지정할 수 있다.

###  데이터 프레임을 불러오고 변수로 저장(여기서는 CSV 기준으로 진행)
* csv : pd.read_csv("파일이름. csv")
* txt : pd.read_csv("파일이름. csv", sep="구분자")
* xlsx : pd.read_excel('파일이름.xlsx')
* pickle : pd.read_pickle("파일이름.pkl") <br>
 [참고] pickle은 파이썬의 모든 객체를 파일로 저장할 수 있는 방법으로 DataFrame,List,Dict 등 모든 객체 저장 가능(특히 sklearn라이브러리를 통해 모델을 학습시키고, 저장할 때 많이 사용)

#### [실습문제1] 데이터 로딩
* 'business_type_202401.csv'파일을 'seoul_business' 변수에 저장하고 그 데이터를 확인하세요.
    * 데이터 파일 로딩시 참고 사항 
        * 구분자(sep)는 ',' 입니다
        * UTF-8 인코더를 사용해 주세요

In [29]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
import pandas as pd

seoul_business = pd.read_csv('1.4 business_type_202401.csv',sep=",", encoding = 'UTF-8')

In [2]:
# 데이터 프레임의 Shape을 확인합니다.
seoul_business.shape

(451, 22)

---

# 2.기본 정보 확인 및 클렌징

+ 데이터 클렌징 : 결측치, 이상치 등을 제거하여 데이터 분석 결과가 왜곡 되는 문제를 방지하기 위한 정제 과정

#### [실습문제2] 기본 정보 확인하기
* 'seoul_business' 데이터의 정보를 확인해보세요.
* 'describe', 'info', 'head' 등 전부 활용해 보겠습니다.

In [3]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
# info()

seoul_business.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 451 entries, 0 to 450
Data columns (total 22 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   자치구           451 non-null    object
 1   동             451 non-null    object
 2   다수업종 상위10     451 non-null    object
 3   다수업종 상위10.1   451 non-null    object
 4   다수업종 상위10.2   451 non-null    object
 5   다수업종 상위10.3   451 non-null    object
 6   다수업종 상위10.4   451 non-null    object
 7   다수업종 상위10.5   451 non-null    object
 8   다수업종 상위10.6   451 non-null    object
 9   다수업종 상위10.7   451 non-null    object
 10  다수업종 상위10.8   451 non-null    object
 11  다수업종 상위10.9   451 non-null    object
 12  다수업종 상위10.10  451 non-null    object
 13  다수업종 상위10.11  451 non-null    object
 14  다수업종 상위10.12  451 non-null    object
 15  다수업종 상위10.13  451 non-null    object
 16  다수업종 상위10.14  451 non-null    object
 17  다수업종 상위10.15  451 non-null    object
 18  다수업종 상위10.16  451 non-null    object
 19  다수업종 상위10.17  451 non-null    object
 20  다수업종 상위10.18  451 non-null    object
 21  다수업종 상위10.19  451 non-null    object
dtypes: object(22)
memory usage: 77.6+ KB

In [4]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
# describe()

seoul_business.describe()

,자치구,동,다수업종 상위10,다수업종 상위10.1,다수업종 상위10.2,다수업종 상위10.3,다수업종 상위10.4,다수업종 상위10.5,다수업종 상위10.6,다수업종 상위10.7,...,다수업종 상위10.10,다수업종 상위10.11,다수업종 상위10.12,다수업종 상위10.13,다수업종 상위10.14,다수업종 상위10.15,다수업종 상위10.16,다수업종 상위10.17,다수업종 상위10.18,다수업종 상위10.19
count,451,451,451,451,451,451,451,451,451,451,...,451,451,451,451,451,451,451,451,451,451
unique,27,425,226,280,176,305,177,180,142,205,...,131,239,69,147,127,189,113,222,107,230
top,송파구,소계,71,11,24,104,56,56,40,54,...,13,16,-,-,18,20,4,42,17,45
freq,28,25,7,7,11,6,8,9,11,9,...,18,8,82,82,14,10,15,10,16,9

In [5]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
# head()

seoul_business.head()

,자치구,동,다수업종 상위10,다수업종 상위10.1,다수업종 상위10.2,다수업종 상위10.3,다수업종 상위10.4,다수업종 상위10.5,다수업종 상위10.6,다수업종 상위10.7,...,다수업종 상위10.10,다수업종 상위10.11,다수업종 상위10.12,다수업종 상위10.13,다수업종 상위10.14,다수업종 상위10.15,다수업종 상위10.16,다수업종 상위10.17,다수업종 상위10.18,다수업종 상위10.19
0,자치구,동,택시운송업,택시운송업,한식 일반 음식점업,한식 일반 음식점업,용달 화물자동차 운송업,용달 화물자동차 운송업,부동산 중개 및 대리업,부동산 중개 및 대리업,...,커피전문점,커피전문점,남녀용 겉옷 및 셔츠 도매업,남녀용 겉옷 및 셔츠 도매업,기타주점업,기타주점업,일반 교과 학원,일반 교과 학원,한식 육류요리 전문점,한식 육류요리 전문점
1,자치구,동,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수,...,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수
2,합계,합계,"47,176","76,701","29,225","100,183","28,494","29,356","24,013","42,636",...,"16,255","57,322","13,388","51,116","13,339","31,371","11,911","50,773","11,109","44,653"
3,종로구,소계,215,215,"1,548","5,912",618,646,549,889,...,948,"3,613",400,962,537,"1,413",110,382,437,"1,982"
4,종로구,사직동,7,7,230,982,12,12,57,96,...,124,525,2,18,74,177,9,34,45,220

In [6]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
# tail()

seoul_business.tail()

,자치구,동,다수업종 상위10,다수업종 상위10.1,다수업종 상위10.2,다수업종 상위10.3,다수업종 상위10.4,다수업종 상위10.5,다수업종 상위10.6,다수업종 상위10.7,...,다수업종 상위10.10,다수업종 상위10.11,다수업종 상위10.12,다수업종 상위10.13,다수업종 상위10.14,다수업종 상위10.15,다수업종 상위10.16,다수업종 상위10.17,다수업종 상위10.18,다수업종 상위10.19
446,강동구,성내3동,120,120,135,390,73,73,104,163,...,54,133,10,86,57,103,66,199,44,164
447,강동구,둔촌2동,117,436,63,249,89,89,61,108,...,34,85,10,788,21,39,35,90,24,101
448,강동구,암사1동,209,372,71,195,153,153,67,107,...,29,59,3,6,47,98,31,67,34,98
449,강동구,천호2동,157,187,152,509,144,151,97,188,...,63,212,4,17,95,268,24,42,69,245
450,강동구,길동,"1,441","1,557",152,436,217,225,146,237,...,71,228,6,126,122,294,39,136,70,224

#### [실습문제3] 데이터 확인 및 처리

* head 와 tail 을 보았을때, 어느 데이터만 가져와야 할지 생각 해 봅시다.
* 두번째 행부터 데이터가 시작된다.

In [30]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
# header=1
seoul_business = pd.read_csv('1.4 business_type_202401.csv', sep=",", encoding = "UTF-8", header=1)

seoul_business

,자치구,동,택시운송업,택시운송업.1,한식 일반 음식점업,한식 일반 음식점업.1,용달 화물자동차 운송업,용달 화물자동차 운송업.1,부동산 중개 및 대리업,부동산 중개 및 대리업.1,두발미용업,두발미용업.1,커피전문점,커피전문점.1,남녀용 겉옷 및 셔츠 도매업,남녀용 겉옷 및 셔츠 도매업.1,기타주점업,기타주점업.1,일반 교과 학원,일반 교과 학원.1,한식 육류요리 전문점,한식 육류요리 전문점.1
0,자치구,동,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수
1,합계,합계,"47,176","76,701","29,225","100,183","28,494","29,356","24,013","42,636","18,080","36,214","16,255","57,322","13,388","51,116","13,339","31,371","11,911","50,773","11,109","44,653"
2,종로구,소계,215,215,"1,548","5,912",618,646,549,889,261,480,948,"3,613",400,962,537,"1,413",110,382,437,"1,982"
3,종로구,사직동,7,7,230,982,12,12,57,96,28,66,124,525,2,18,74,177,9,34,45,220
4,종로구,삼청동,5,5,42,145,4,4,9,10,-,-,66,243,2,3,3,8,-,-,7,33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445,강동구,성내3동,120,120,135,390,73,73,104,163,83,113,54,133,10,86,57,103,66,199,44,164
446,강동구,둔촌2동,117,436,63,249,89,89,61,108,62,75,34,85,10,788,21,39,35,90,24,101
447,강동구,암사1동,209,372,71,195,153,153,67,107,82,114,29,59,3,6,47,98,31,67,34,98
448,강동구,천호2동,157,187,152,509,144,151,97,188,83,168,63,212,4,17,95,268,24,42,69,245
449,강동구,길동,"1,441","1,557",152,436,217,225,146,237,121,193,71,228,6,126,122,294,39,136,70,224

In [38]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
# DataFrame 출력 시 모든 열을 표시하도록 설정

# 모든 열을 표시하도록 설정
pd.set_option('display.max_columns', None)

In [14]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
# head()

seoul_business.head()

,자치구,동,택시운송업,택시운송업.1,한식 일반 음식점업,한식 일반 음식점업.1,용달 화물자동차 운송업,용달 화물자동차 운송업.1,부동산 중개 및 대리업,부동산 중개 및 대리업.1,두발미용업,두발미용업.1,커피전문점,커피전문점.1,남녀용 겉옷 및 셔츠 도매업,남녀용 겉옷 및 셔츠 도매업.1,기타주점업,기타주점업.1,일반 교과 학원,일반 교과 학원.1,한식 육류요리 전문점,한식 육류요리 전문점.1
0,자치구,동,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수,사업체수,종사자수
1,합계,합계,"47,176","76,701","29,225","100,183","28,494","29,356","24,013","42,636","18,080","36,214","16,255","57,322","13,388","51,116","13,339","31,371","11,911","50,773","11,109","44,653"
2,종로구,소계,215,215,"1,548","5,912",618,646,549,889,261,480,948,"3,613",400,962,537,"1,413",110,382,437,"1,982"
3,종로구,사직동,7,7,230,982,12,12,57,96,28,66,124,525,2,18,74,177,9,34,45,220
4,종로구,삼청동,5,5,42,145,4,4,9,10,-,-,66,243,2,3,3,8,-,-,7,33

In [19]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
# 구별 등록 업종 중 버스정류장 설치에 중요한 업종 데이터만 불러오기
# 예 : 대중교통 이동수요가 높을 것으로 예상되는 업종, 종사자수가 많은 업종

# '한식 일반 음식점업.1', '일반 교과 학원', '일반 교과 학원.1'
seoul_business1 = seoul_business.iloc[:, [0, 1, 5, 13, 19]]
seoul_business1.head()

   자치구    동 한식 일반 음식점업.1 커피전문점.1 일반 교과 학원.1
0  자치구    동         종사자수    종사자수       종사자수
1   합계   합계      100,183  57,322     50,773
2  종로구   소계        5,912   3,613        382
3  종로구  사직동          982     525         34
4  종로구  삼청동          145     243          -

In [35]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
# '동' 열이 '소계'인 행만을 필터링 (구별 데이터만 필요함)

filtered_data = seoul_business[seoul_business['동'] == '소계']
filtered_data

,자치구,동,택시운송업,택시운송업.1,한식 일반 음식점업,한식 일반 음식점업.1,용달 화물자동차 운송업,용달 화물자동차 운송업.1,부동산 중개 및 대리업,부동산 중개 및 대리업.1,두발미용업,두발미용업.1,커피전문점,커피전문점.1,남녀용 겉옷 및 셔츠 도매업,남녀용 겉옷 및 셔츠 도매업.1,기타주점업,기타주점업.1,일반 교과 학원,일반 교과 학원.1,한식 육류요리 전문점,한식 육류요리 전문점.1
2,종로구,소계,215,215,"1,548","5,912",618,646,549,889,261,480,948,"3,613",400,962,537,"1,413",110,382,437,"1,982"
20,중구,소계,230,235,"1,588","6,414",300,333,576,"1,152",339,816,869,"3,542","10,810","24,248",381,982,57,175,443,"2,121"
36,용산구,소계,416,523,857,"2,987",455,466,791,"1,214",366,777,634,"2,076",54,317,487,"1,332",104,573,300,"1,184"
53,성동구,소계,"1,200","2,527",956,"2,785","1,072","1,161",801,"1,453",489,851,547,"1,859",149,"1,572",285,621,258,"1,494",400,"1,545"
71,광진구,소계,"1,119","1,744",963,"2,861",968,985,871,"1,313",746,"1,337",590,"1,887",89,687,633,"1,577",413,"1,646",467,"1,678"
87,동대문구,소계,"1,546","2,093","1,236","3,566","1,431","1,456",842,"1,208",611,891,494,"1,472",211,976,499,"1,082",302,984,442,"1,509"
102,중랑구,소계,"3,634","6,262",991,"2,479","1,804","1,877",738,"1,104",790,"1,108",381,"1,037",63,284,535,"1,000",288,"1,045",499,"1,504"
119,성북구,소계,"1,835","2,643",973,"2,822","1,312","1,335",846,"1,175",739,"1,245",457,"1,384",85,454,512,"1,030",464,"1,755",365,"1,334"
140,강북구,소계,"1,713","2,589",965,"2,663","1,024","1,030",589,867,673,997,358,"1,095",40,94,580,"1,275",220,740,362,"1,176"
154,도봉구,소계,"2,993","5,783",672,"2,009","1,571","1,574",515,794,600,847,288,837,22,43,258,477,351,"1,162",302,943
169,노원구,소계,"4,114","6,074",866,"2,650","1,730","1,736",714,"1,053",782,"1,353",535,"1,748",30,123,355,844,735,"3,281",428,"1,557"
189,은평구,소계,"3,108","4,430",881,"2,585","1,340","1,349","1,134","1,614",947,"1,443",457,"1,296",26,74,484,925,551,"1,793",476,"1,639"
206,서대문구,소계,"1,747","2,677",863,"2,694",802,808,667,956,598,"1,185",370,"1,323",22,68,497,"1,127",361,"1,268",311,"1,088"
221,마포구,소계,"1,165","1,838","1,411","4,705",770,829,"1,149","1,903",896,"2,042","1,369","4,475",96,"1,209","1,011","2,559",469,"1,855",701,"2,928"
238,양천구,소계,"2,735","4,942",831,"2,800","1,286","1,293",922,"1,364",838,"1,428",402,"1,375",25,52,415,851,"1,284","5,804",281,"1,111"
257,강서구,소계,"3,735","6,922","1,325","4,584","1,799","1,862","1,311","2,352","1,015","1,751",690,"2,530",78,700,794,"1,709",672,"2,347",581,"2,274"
278,구로구,소계,"2,757","3,817","1,048","3,215","1,318","1,351",789,"1,213",729,"1,134",421,"1,384",114,923,576,"1,165",336,"1,111",428,"1,496"
294,금천구,소계,"1,100","2,598",867,"2,619",935,997,671,"1,381",488,715,383,"1,215",200,"2,575",391,685,153,487,300,"1,042"
305,영등포구,소계,"1,349","2,397","1,738","6,476","1,281","1,429",986,"1,566",673,"1,261",838,"3,295",76,"1,220",636,"1,489",288,"1,082",494,"2,151"
324,동작구,소계,"1,033","1,115",765,"2,322",830,844,883,"1,483",651,"1,105",486,"1,628",20,199,439,955,407,"1,463",331,"1,177"
340,관악구,소계,"1,286","2,027","1,226","3,689","1,579","1,600","1,010","2,136",895,"1,604",581,"2,049",31,190,658,"1,672",354,"1,230",422,"1,628"
362,서초구,소계,417,903,"1,564","6,712",386,411,"1,457","2,758",676,"1,832","1,012","3,897",157,"1,563",446,"1,255",812,"3,812",445,"2,338"
381,강남구,소계,"1,796","2,517","2,415","11,486",445,487,"2,337","6,508","1,241","6,255","1,624","7,273",384,"8,320",713,"2,528","1,426","9,020",827,"5,008"
404,송파구,소계,"2,638","4,850","1,575","5,760","1,910","1,931","1,677","3,190","1,137","2,328",975,"3,372",147,"2,830",628,"1,469",876,"4,160",639,"2,781"
432,강동구,소계,"3,295","4,980","1,101","3,388","1,528","1,566","1,188","1,990",900,"1,429",546,"1,660",59,"1,433",589,"1,349",620,"2,104",428,"1,459"

In [36]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
# '동' 열 제거
filtered_data = filtered_data.drop(columns=['동'])

In [43]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
# head()
filtered_data.head()

,자치구,택시운송업,택시운송업.1,한식 일반 음식점업,한식 일반 음식점업.1,용달 화물자동차 운송업,용달 화물자동차 운송업.1,부동산 중개 및 대리업,부동산 중개 및 대리업.1,두발미용업,두발미용업.1,커피전문점,커피전문점.1,남녀용 겉옷 및 셔츠 도매업,남녀용 겉옷 및 셔츠 도매업.1,기타주점업,기타주점업.1,일반 교과 학원,일반 교과 학원.1,한식 육류요리 전문점,한식 육류요리 전문점.1
2,종로구,215,215,"1,548","5,912",618,646,549,889,261,480,948,"3,613",400,962,537,"1,413",110,382,437,"1,982"
20,중구,230,235,"1,588","6,414",300,333,576,"1,152",339,816,869,"3,542","10,810","24,248",381,982,57,175,443,"2,121"
36,용산구,416,523,857,"2,987",455,466,791,"1,214",366,777,634,"2,076",54,317,487,"1,332",104,573,300,"1,184"
53,성동구,"1,200","2,527",956,"2,785","1,072","1,161",801,"1,453",489,851,547,"1,859",149,"1,572",285,621,258,"1,494",400,"1,545"
71,광진구,"1,119","1,744",963,"2,861",968,985,871,"1,313",746,"1,337",590,"1,887",89,687,633,"1,577",413,"1,646",467,"1,678"

In [44]:
# 해당 데이터프레임을 csv 파일로 저장하세요.

filtered_data.to_csv('1.4 result.csv', index=True)

---

# 3.데이터 분석하기
+ KeyPoint : 데이터의 형태를 살펴보고 다양한 분석기법을 통해 모델링에 적합하도록 정제요소를 선별할 수 있다.
  * 데이터들의 패턴 탐색
  * 변수들간의 관계 파악

In [1]:
# 시각화 한글폰트 설정
import seaborn as sns
import matplotlib.pyplot as plt

plt.rc('font', family='Malgun Gothic')
sns.set(font="Malgun Gothic",#"NanumGothicCoding", 
        rc={"axes.unicode_minus":False}, # 마이너스 부호 깨짐 현상 해결
        style='darkgrid')

#### [실습문제4] 데이터 분포 알아보기
* 여러 변수들을 다양한 그래프로 그려보고 인사이트를 도출해보세요.

In [ ]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.

In [ ]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.

In [ ]:
# 위 차트를 통해 알게된 사실을 정리해봅시다.
# 1. 
# 2.
# 3.