# 안녕하세요^^ 
## AIVLE 1차 미니프로젝트 '서울시 생활정보 기반 대중교통 수요 분석 ' 과정에 오신 여러분을 환영합니다.
* 본 과정에서는 실제 사례와 데이터를 기반으로 문제를 해결하는 전체 과정을 자기 주도형 실습으로 진행해볼 예정입니다.
* 앞선 교육과정을 정리하는 마음과 지금까지 배운 내용을 바탕으로 문제 해결을 해볼게요!
* 미니 프로젝트를 통한 문제 해결 과정 'A에서 Z까지', 지금부터 시작합니다!

# 데이터 분석부터 먼저 시작해보겠습니다.
### "구별 등록인구 데이터" 를 확인해 보도록 하겠습니다

In [ ]:
# 필요 라이브러리부터 설치합니다.
# %pip install pandas seaborn

## 기본전제
* 처음에 제공되는 데이터는 '에이블러용' 폴더에 있습니다.

[기본 데이터]
* 1.3 seoul_people_202401.csv

[데이터 소개]
* 서울 시 주민 등록 데이터

[변수 소개]
* 한국인 / 등록 외국인 / 합계 / 세대수 / 고령인구수

# 1.데이터 불러오기
### 모든 미니 프로젝트의 시작은 '데이터 불러오기' 부터라고 할 수 있습니다.
+ KeyPoint : 불러오고자 하는 데이터에 따라 자유롭게 변수로 지정할 수 있다.

###  데이터 프레임을 불러오고 변수로 저장(여기서는 CSV 기준으로 진행)
* csv : pd.read_csv("파일이름. csv")
* txt : pd.read_csv("파일이름. csv", sep="구분자")
* xlsx : pd.read_excel('파일이름.xlsx')
* pickle : pd.read_pickle("파일이름.pkl") <br>
 [참고] pickle은 파이썬의 모든 객체를 파일로 저장할 수 있는 방법으로 DataFrame,List,Dict 등 모든 객체 저장 가능(특히 sklearn라이브러리를 통해 모델을 학습시키고, 저장할 때 많이 사용)

#### [실습문제1] 데이터 로딩
* 'seoul_people_202401.csv'파일을 'seoul_people' 변수에 저장하고 그 Shape을 확인하세요.
    * 데이터 파일 로딩시 참고 사항 
        * 구분자(sep)는 '\t' 입니다
        * cp949 인코더를 사용해 주세요

In [1]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
import pandas as pd

seoul_people = pd.read_csv('1.3 seoul_people_202401.csv', sep='\t', encoding='cp949')

In [2]:
# 데이터 프레임의 Shape을 확인합니다.
seoul_people.shape

(28, 14)

# 2.기본 정보 확인 및 클렌징

+ 데이터 클렌징 : 결측치, 이상치 등을 제거하여 데이터 분석 결과가 왜곡 되는 문제를 방지하기 위한 정제 과정

#### [실습문제2] 기본 정보 확인하기
* 'seoul_people' 데이터의 정보를 확인해보세요.
* 'describe', 'info', 'head' 등 전부 활용해 보겠습니다.

In [3]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
# info()

seoul_people.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   동별(1)        28 non-null     object
 1   동별(2)        28 non-null     object
 2   2024         28 non-null     object
 3   2024    .1   28 non-null     object
 4   2024    .2   28 non-null     object
 5   2024    .3   28 non-null     object
 6   2024    .4   28 non-null     object
 7   2024    .5   28 non-null     object
 8   2024    .6   28 non-null     object
 9   2024    .7   28 non-null     object
 10  2024    .8   28 non-null     object
 11  2024    .9   28 non-null     object
 12  2024    .10  28 non-null     object
 13  2024    .11  28 non-null     object
dtypes: object(14)
memory usage: 3.2+ KB

In [4]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
# describe()

seoul_people.describe()

,동별(1),동별(2),2024,2024 .1,2024 .2,2024 .3,2024 .4,2024 .5,2024 .6,2024 .7,2024 .8,2024 .9,2024 .10,2024 .11
count,28,28,28,28,28,28,28,28,28,28,28,28,28,28
unique,2,27,28,28,28,28,28,28,28,28,28,27,23,28
top,합계,동별(2),세대 (세대),계 (명),계 (명),계 (명),한국인 (명),한국인 (명),한국인 (명),등록외국인 (명),등록외국인 (명),3225,1.97,65세이상고령자 (명)
freq,26,2,1,1,1,1,1,1,1,1,1,2,2,1

In [5]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
# head()

seoul_people.head()

,동별(1),동별(2),2024,2024 .1,2024 .2,2024 .3,2024 .4,2024 .5,2024 .6,2024 .7,2024 .8,2024 .9,2024 .10,2024 .11
0,동별(1),동별(2),세대 (세대),계 (명),계 (명),계 (명),한국인 (명),한국인 (명),한국인 (명),등록외국인 (명),등록외국인 (명),등록외국인 (명),세대당인구 (명),65세이상고령자 (명)
1,동별(1),동별(2),소계,소계,남자,여자,소계,남자,여자,소계,남자,여자,소계,소계
2,합계,소계,4469417,9638799,4649446,4989353,9386034,4540031,4846003,252765,109415,143350,2.1,1743696
3,합계,종로구,72067,150453,71890,78563,139417,67306,72111,11036,4584,6452,1.93,28764
4,합계,중구,64714,131793,63495,68298,121312,58659,62653,10481,4836,5645,1.87,25920

In [7]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
# taril()

seoul_people.tail()

,동별(1),동별(2),2024,2024 .1,2024 .2,2024 .3,2024 .4,2024 .5,2024 .6,2024 .7,2024 .8,2024 .9,2024 .10,2024 .11
23,합계,관악구,284578,497883,249026,248857,481956,242651,239305,15927,6375,9552,1.69,85418
24,합계,서초구,169884,412078,196391,215687,407664,194291,213373,4414,2100,2314,2.4,65661
25,합계,강남구,239775,550282,262991,287291,544873,260520,284353,5409,2471,2938,2.27,86606
26,합계,송파구,285927,660025,316981,343044,654166,314347,339819,5859,2634,3225,2.29,108894
27,합계,강동구,203734,463318,226237,237081,459167,224423,234744,4151,1814,2337,2.25,82984

#### [실습문제3] 데이터 확인 및 처리

* head 와 tail 을 보았을때, 어느 데이터만 가져와야 할지 생각 해 봅시다.
* 데이터가 세번째 줄부터 시작된다
* 서울시의 각 자치구별 남성, 여성 인구 수와 그 합계를 나타내는 데이터프레임 만들기

In [2]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
seoul_people = pd.read_csv('1.3 seoul_people_202401.csv', sep="\t", encoding = "cp949", header = 2)
seoul_people

,동별(1),동별(2),소계,소계.1,남자,여자,소계.2,남자.1,여자.1,소계.3,남자.2,여자.2,소계.4,소계.5
0,합계,소계,4469417,9638799,4649446,4989353,9386034,4540031,4846003,252765,109415,143350,2.10,1743696
1,합계,종로구,72067,150453,71890,78563,139417,67306,72111,11036,4584,6452,1.93,28764
2,합계,중구,64714,131793,63495,68298,121312,58659,62653,10481,4836,5645,1.87,25920
3,합계,용산구,107825,227106,109826,117280,213151,102312,110839,13955,7514,6441,1.98,39747
4,합계,성동구,133089,284766,137620,147146,277361,134519,142842,7405,3101,4304,2.08,49462
5,합계,광진구,170077,351180,167562,183618,335554,161277,174277,15626,6285,9341,1.97,56819
6,합계,동대문구,172801,359873,174120,185753,341149,167346,173803,18724,6774,11950,1.97,67030
7,합계,중랑구,188097,387470,189462,198008,382155,187372,194783,5315,2090,3225,2.03,78955
8,합계,성북구,196800,438168,208682,229486,425602,204171,221431,12566,4511,8055,2.16,80414
9,합계,강북구,143560,292977,141185,151792,288113,139514,148599,4864,1671,3193,2.01,68617
10,합계,도봉구,138261,309494,149675,159819,306948,148796,158152,2546,879,1667,2.22,70436
11,합계,노원구,217904,502925,241099,261826,498213,239117,259096,4712,1982,2730,2.29,96422
12,합계,은평구,215721,470869,223330,247539,466770,221725,245045,4099,1605,2494,2.16,93817
13,합계,서대문구,146845,320629,149879,170750,306231,145404,160827,14398,4475,9923,2.09,58113
14,합계,마포구,181090,375162,174073,201089,363697,169990,193707,11465,4083,7382,2.01,57895
15,합계,양천구,180695,439252,214161,225091,436028,212835,223193,3224,1326,1898,2.41,76317
16,합계,강서구,274084,568826,272338,296488,563058,269822,293236,5768,2516,3252,2.05,102096
17,합계,구로구,184096,415651,204715,210936,392405,192341,200064,23246,12374,10872,2.13,79984
18,합계,금천구,120381,241105,121592,119513,227481,114414,113067,13624,7178,6446,1.89,45342
19,합계,영등포구,190737,397800,195493,202307,374794,183726,191068,23006,11767,11239,1.96,67509
20,합계,동작구,186675,389714,187623,202091,378769,183153,195616,10945,4470,6475,2.03,70474
21,합계,관악구,284578,497883,249026,248857,481956,242651,239305,15927,6375,9552,1.69,85418
22,합계,서초구,169884,412078,196391,215687,407664,194291,213373,4414,2100,2314,2.40,65661
23,합계,강남구,239775,550282,262991,287291,544873,260520,284353,5409,2471,2938,2.27,86606
24,합계,송파구,285927,660025,316981,343044,654166,314347,339819,5859,2634,3225,2.29,108894
25,합계,강동구,203734,463318,226237,237081,459167,224423,234744,4151,1814,2337,2.25,82984

In [18]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
# 동별(2),남자,여자,소계.1 데이터만 가져오기
seoul_people1 = seoul_people.loc[:, ['동별(2)', '남자', '여자', '소계.1']]
seoul_people1

   동별(2)       남자       여자     소계.1
0     소계  4649446  4989353  9638799
1    종로구    71890    78563   150453
2     중구    63495    68298   131793
3    용산구   109826   117280   227106
4    성동구   137620   147146   284766
5    광진구   167562   183618   351180
6   동대문구   174120   185753   359873
7    중랑구   189462   198008   387470
8    성북구   208682   229486   438168
9    강북구   141185   151792   292977
10   도봉구   149675   159819   309494
11   노원구   241099   261826   502925
12   은평구   223330   247539   470869
13  서대문구   149879   170750   320629
14   마포구   174073   201089   375162
15   양천구   214161   225091   439252
16   강서구   272338   296488   568826
17   구로구   204715   210936   415651
18   금천구   121592   119513   241105
19  영등포구   195493   202307   397800
20   동작구   187623   202091   389714
21   관악구   249026   248857   497883
22   서초구   196391   215687   412078
23   강남구   262991   287291   550282
24   송파구   316981   343044   660025
25   강동구   226237   237081   463318

In [19]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
# 첫 번째 행 제거
seoul_people1.drop(0, axis=0, inplace=True)
seoul_people1

   동별(2)      남자      여자    소계.1
1    종로구   71890   78563  150453
2     중구   63495   68298  131793
3    용산구  109826  117280  227106
4    성동구  137620  147146  284766
5    광진구  167562  183618  351180
6   동대문구  174120  185753  359873
7    중랑구  189462  198008  387470
8    성북구  208682  229486  438168
9    강북구  141185  151792  292977
10   도봉구  149675  159819  309494
11   노원구  241099  261826  502925
12   은평구  223330  247539  470869
13  서대문구  149879  170750  320629
14   마포구  174073  201089  375162
15   양천구  214161  225091  439252
16   강서구  272338  296488  568826
17   구로구  204715  210936  415651
18   금천구  121592  119513  241105
19  영등포구  195493  202307  397800
20   동작구  187623  202091  389714
21   관악구  249026  248857  497883
22   서초구  196391  215687  412078
23   강남구  262991  287291  550282
24   송파구  316981  343044  660025
25   강동구  226237  237081  463318

In [21]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
# 동별(2)->자치구, 소계.1->합계로 이름 대체
seoul_people1 = seoul_people1.rename(columns={'동별(2)': '자치구', '소계.1': '합계'})
seoul_people1

     자치구      남자      여자      합계
1    종로구   71890   78563  150453
2     중구   63495   68298  131793
3    용산구  109826  117280  227106
4    성동구  137620  147146  284766
5    광진구  167562  183618  351180
6   동대문구  174120  185753  359873
7    중랑구  189462  198008  387470
8    성북구  208682  229486  438168
9    강북구  141185  151792  292977
10   도봉구  149675  159819  309494
11   노원구  241099  261826  502925
12   은평구  223330  247539  470869
13  서대문구  149879  170750  320629
14   마포구  174073  201089  375162
15   양천구  214161  225091  439252
16   강서구  272338  296488  568826
17   구로구  204715  210936  415651
18   금천구  121592  119513  241105
19  영등포구  195493  202307  397800
20   동작구  187623  202091  389714
21   관악구  249026  248857  497883
22   서초구  196391  215687  412078
23   강남구  262991  287291  550282
24   송파구  316981  343044  660025
25   강동구  226237  237081  463318

In [22]:
# 해당 데이터프레임을 csv 파일로 저장하세요.

seoul_people1.to_csv('1.3 result.csv', index=True)

# 3.데이터 분석하기
+ KeyPoint : 데이터의 형태를 살펴보고 다양한 분석기법을 통해 모델링에 적합하도록 정제요소를 선별할 수 있다.
  * 데이터들의 패턴 탐색
  * 변수들간의 관계 파악

In [1]:
# 시각화 한글폰트 설정
import seaborn as sns
import matplotlib.pyplot as plt

plt.rc('font', family='Malgun Gothic')
sns.set(font="Malgun Gothic",#"NanumGothicCoding", 
        rc={"axes.unicode_minus":False}, # 마이너스 부호 깨짐 현상 해결
        style='darkgrid')

#### [실습문제4] 데이터 분포 알아보기
* 다양한 변수를 기준으로 그래프를 그려보고 인사이트를 도출해보세요.

In [11]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

car_dataframe = pd.read_excel('car.xlsx')
car_dataframe = car_dataframe.iloc[[1, 11]]
car_dataframe

C:\Users\User\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

   구분별(1) 구분별(2)     2021     2022     2023
1      남성     소계  2003470  2006658  2012574
11     여성     소계   702831   713584   721899

In [21]:
#성별 자치구 거주 현황
gendar_dataframe = pd.read_csv('1.3 result.csv')
#자치구 별 정류장 개수
bus_count = pd.read_csv('bus_count.csv')

merged_dataframe = pd.merge(gendar_dataframe, bus_count, on='자치구')
merged_dataframe = merged_dataframe.drop(columns=['Unnamed: 0', '합계'])
merged_dataframe = merged_dataframe.rename(columns={'버스정류장ARS번호': '버스정류장개수'})
merged_dataframe

     자치구      남자      여자  버스정류장개수
0    종로구   71890   78563      357
1     중구   63495   68298      174
2    용산구  109826  117280      326
3    성동구  137620  147146      433
4    광진구  167562  183618      280
5   동대문구  174120  185753      308
6    중랑구  189462  198008      428
7    성북구  208682  229486      599
8    강북구  141185  151792      410
9    도봉구  149675  159819      368
10   노원구  241099  261826      496
11   은평구  223330  247539      497
12  서대문구  149879  170750      460
13   마포구  174073  201089      565
14   양천구  214161  225091      323
15   강서구  272338  296488      567
16   구로구  204715  210936      486
17   금천구  121592  119513      347
18  영등포구  195493  202307      467
19   동작구  187623  202091      441
20   관악구  249026  248857      468
21   서초구  196391  215687      601
22   강남구  262991  287291      501
23   송파구  316981  343044      470
24   강동구  226237  237081      367

In [ ]:
# 위 차트를 통해 알게된 사실을 정리해봅시다.
# 1. 
# 2.
# 3.

---